body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding: 2%;
    float: left;
}
.half-width img{
    width: 100%;
}
section{
    height: 600px;
}
.header-area{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.link-button{
    text-decoration: none;
    background-color: rgb(228, 17, 87);
    padding: 10px 20px;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
}
.name-hlight{
    color: rgb(228, 17, 87);
    font-size: 35px;
}
.biography-area{
    background-image: url("images/biography-bg.png");
}
.latest-work-area{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.mid-width{
    width: 25%;
    float: left;
    margin: 5%;
}
.mid-width img{
    width: 100%;

}