body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
h1{
    font-size: 40px;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding: 2%;
    float: left;
}
.single{
    width: 500px;
    padding: 150px 0px 150px 90px;
    
}
.single-1{
    margin-left: 0px;
    text-align: justify;
}
.half-width img{
    width: 80%;
}
section{
    height: 600px;
}
.header-area{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.link-button{
    text-decoration: none;
    background-color: rgb(228, 17, 87);
    padding: 10px 20px;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
}
.name-hlight{
    color: rgb(228, 17, 87);
    font-size: 35px;
}
.biography-area{
    background-image: url("images/biography-bg.png");
}
.latest-area{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.mid-width{
    width: 26%;
    margin-left: 5%;
    float: left;
}

img{
    width: 100%;
}
.work-area{
    padding-top: 50px;
}
.work-area h1{
    text-align: center;
    margin-bottom: 100px;
}
.footer-area{
    width: 600px;
    margin: 20px auto;
    text-align: center;
}
.footer-mail{
    background-color: rgb(207, 13, 94);
    color: #fff;
    width: 400px;
    margin:30px auto;
    padding: 30px 50px;
    font-size: 20px;
    border-radius: 10px;

}
.footer-mail a{
    text-decoration: none;
    color: #fff;
    padding-bottom: 300px;
    
}
.footer-area article{
    margin-top: 100px;
}
